[Unit]
Description=Autoreply Agent Service (hardened)
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=autoreply
Group=autoreply
WorkingDirectory=/opt/autoreply/services-agent
ExecStart=/usr/bin/perl /opt/autoreply/services-agent/autoreply-agent.pl
EnvironmentFile=/opt/autoreply/env/autoreply-agent.env
UMask=0007

# ENV/Path härten
Environment=PATH=/usr/bin:/usr/sbin
UnsetEnvironment=PERL5LIB PERLLIB PERL5OPT IFS CDPATH ENV BASH_ENV
# optional:
UnsetEnvironment=LD_PRELOAD LD_LIBRARY_PATH

# Restart
TimeoutStartSec=30
Restart=on-failure
RestartSec=3s

# Sandboxing
NoNewPrivileges=yes
RestrictSUIDSGID=yes
ProtectSystem=strict
ProtectHome=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectControlGroups=true
ProtectClock=true
ProtectHostname=true
ProtectKernelLogs=true
PrivateTmp=true
PrivateDevices=true
PrivateMounts=true
LockPersonality=yes
RestrictNamespaces=yes
RestrictRealtime=yes
KeyringMode=private
ProcSubset=pid
ProtectProc=invisible
MemoryDenyWriteExecute=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@obsolete

# Netzwerk
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
# nur Loopback?:
# IPAddressDeny=any
# IPAddressAllow=127.0.0.1 

# Default-deny Filesystem
TemporaryFileSystem=/

# Binaries/Libs
BindReadOnlyPaths=/usr:/usr
BindReadOnlyPaths=/usr/share:/usr/share
BindReadOnlyPaths=/lib:/lib
BindReadOnlyPaths=/lib64:/lib64
BindReadOnlyPaths=/bin:/bin
BindReadOnlyPaths=/sbin:/sbin

# /etc-Basics
BindReadOnlyPaths=/etc/hosts
BindReadOnlyPaths=/etc/resolv.conf
BindReadOnlyPaths=/etc/nsswitch.conf
BindReadOnlyPaths=/etc/localtime
BindReadOnlyPaths=/etc/machine-id

BindReadOnlyPaths=/etc/passwd
BindReadOnlyPaths=/etc/group

#-----------------------------------
# Verzeichnis schreiben
#------------------------------------
BindPaths=/opt/autoreply

#-----------------------------------
# Verzeichnis lesen
#-----------------------------------
# BindReadOnlyPaths=

# Caps minimal (keine nötig)
AmbientCapabilities=CAP_CHOWN CAP_FOWNER
CapabilityBoundingSet=CAP_CHOWN CAP_FOWNER
SecureBits=noroot-locked

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=autoreply-agent

[Install]
WantedBy=multi-user.target